@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', 'sans-serif';
  --color-bg-light: #f7f7f7;
  --color-accent-light: #6cb2eb;
  --color-bg-dark: #1e1e1e;
  --color-text-dark: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

body {
  @apply font-inter bg-bg-light dark:bg-bg-dark dark:text-text-dark;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
